{% extends 'base.html.twig' %}

{% block body %}

	<twig:NavAdminCollectionButton>
		<twig:ReturnToList list_route_name="admin_app_collection_users" />
		<twig:AddButton icon_class="i" route_name="admin_app_form_new_user" text="Ajouter un utilisateur" permission="{{ app.user.userCreateRight }}" />
	</twig:NavAdminCollectionButton>

	<twig:titleCollection title="Utilisateurs" />

	{{ knp_pagination_rel_links(pagination) }}

	<div class='p-3 pe-5 w-100 position-relative border-top div-border-dark'>
		<table class='table table-striped table-dark rounded table-hover'>
			<tr>
				{# sorting of properties based on query components #}
				<th>{{ knp_pagination_sortable(pagination, '#', 'u.id') }}</th>
				<th {% if pagination.isSorted('u.email') %} class="sorted" {% endif %}>
					{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}
				</th>
				<th>
					Actions
				</th>
			</tr>

			{# table body #}
			{% for user in pagination %}
				<tr {% if loop.index is odd %} class="color" {% endif %}>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>
                        <twig:Dropdown>
                            <twig:Link:NavLink icon_class="bi-pencil-fill" classOverride="dropdown-item"
                                               route_name="admin_app_form_edit_user" parameters="{{ {user: user.id} }}"
                                               text="Modifier"/>
                            <twig:Link:NavLink icon_class="bi-trash3-fill" classOverride="dropdown-item text-danger"
                                               route_name="admin_app_delete_user" parameters="{{ {user: user.id} }}"
                                               text="Supprimer"/>
                        </twig:Dropdown>
					</td>
				</tr>
			{% endfor %}
		</table>

		<div class="navigation d-flex justify-content-end">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}