{% extends '/admin/user/base.user.html.twig' %}

{% block user_content %}
	{{ knp_pagination_rel_links(pagination) }}

	<div class='p-3 pe-5 w-100 position-relative border-top div-border-dark'>
		<table class='table table-striped table-dark rounded table-hover'>
			<tr>
				{# sorting of properties based on query components #}
				<th>{{ knp_pagination_sortable(pagination, '#', 'u.id') }}</th>
				<th {% if pagination.isSorted('u.email') %} class="sorted" {% endif %}>
					{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}
				</th>
				<th>
					Actions
				</th>
			</tr>

			{# table body #}
			{% for user in pagination %}
				<tr {% if loop.index is odd %} class="color" {% endif %}>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% set menu_user_vars = 
								{ 
									'hrefEdit': path('admin_app_form_edit_user', {'user' : user.id}), 
									'hrefDelete': path('admin_app_delete_user', {'user' : user.id}), 
									'entityId': user.id, 
									'entityName': user_entity_name 
								} 
							%}
						{% include '/components/admin/menu/admin_dropdown_menu.html.twig' with menu_user_vars %}
					</td>
				</tr>
			{% endfor %}
		</table>

		<div class="navigation d-flex justify-content-end">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
