{% extends 'base.html.twig' %}

{% block body %}

	{{ include('admin/user/_nav.html.twig') }}
	{#	TODO : Faire un composant twig #}
	<nav>
		<div class="nav nav-pills mb-3 ps-3" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-general-tab" data-bs-toggle="pill" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">Générale</button>
			<button class="nav-link" id="nav-region-rattachement-tab" data-bs-toggle="pill" data-bs-target="#nav-region-rattachement" type="button" role="tab" aria-controls="nav-region-rattachement" aria-selected="false">Région - Rattachement</button>
			<button class="nav-link" id="nav-role-rights-tab" data-bs-toggle="pill" data-bs-target="#nav-role-rights" type="button" role="tab" aria-controls="nav-role-rights" aria-selected="false">Rôles - Droits</button>
		</div>
	</nav>
	<div class='w-100 position-relative border-top div-border-dark'>
		{{ form_start(form) }}
		{% set link_url = null %}
		{% if userId %}
			{% set link_url = path('admin_app_link_user', { 'user': userId }) %}
		{% endif %}
		<div data-controller="login-link" data-login-link-url-value="{{ link_url }}" data-login-link-csrf-value="{{ csrf_token('admin_app_link_user') }}" style='min-height:74vh;' class='div-border-dark p-3 w-50 border-end'>
			<div class='d-flex justify-content-end align-items-start mb-2 w-100'>
				<a href='#' data-action="login-link#confirm" class='rounded-pill border border-muted text-muted d-inline-block px-3 py-1 link-underline link-underline-opacity-0'>
					<i class="bi bi-arrow-repeat"></i>
					Lien temporaire
				</a>
			</div>


			<div data-login-link-target="container" class='{% if not loginLink %}d-none{% endif %}'>
				<label>
					Lien de connexion temporaire
				</label>
				<div class="input-group mt-2" data-controller='clipboard'>
					<input type="text" class="form-control" data-login-link-target="input" value="{{ loginLink }}" data-clipboard-target="source" readonly>
					<button type='button' class="btn btn-success input-group-append" data-action="clipboard#copy" data-target="clipboard.source">
						<i class="bi bi-copy"></i>
					</button>
				</div>

				<hr>
			</div>

			<div class="tab-content scroll-container" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
					<div class="row">
						<div class="col">
							{{ form_row(form.email) }}
						</div>
					</div>

				</div>
				<div class="tab-pane fade" id="nav-region-rattachement" role="tabpanel" aria-labelledby="nav-region-rattachement-tab">
					<div class="row mb-3">
						<div class="col">
							{{ form_row(form.regions) }}
						</div>
						<div class="col">
							{{ form_row(form.rattachements) }}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-role-rights" role="tabpanel" aria-labelledby="nav-role-rights-tab">
					<div class="row">
						<div class="col">
							{{ form_label(form.roles, null) }}
							{% for name, choices in form.roles.vars.choices %}

								<div class='d-flex justify-content-start mb-1 ms-5'>
									{{ form_widget(form.roles[name]) }}
									<div style='width:100px' class='ms-1'>
										{{ form_label(form.roles[name]) }}
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="col">
							<label for="permissions">Permissions</label>
							<div>
								{% for categorieName, categoriesChoices in form.permissions.vars.choices %}
									<label class="category_label mt-3 mb-3">
										<strong>
											{{ categorieName }}
										</strong>
									</label>
									<hr>
									<br/>
									{% for name, choices in categoriesChoices.choices %}

										{% if choices is iterable  %}

											<small class="choice_label">
												<strong>
													{{ name }}
												</strong>
											</small>
											<div class='d-flex flex-column'>
												{% for key,choice in choices %}
													<div class='d-flex justify-content-end w-75'>
														{{ form_widget(form.permissions[key]) }}
														<div style='width:50px' class='ms-1'>
															{{ form_label(form.permissions[key]) }}
														</div>
													</div>
												{% endfor %}
											</div>

										{% else %}

											{{ form_widget(form.permissions[name]) }}
											{{ form_label(form.permissions[name], null) }}

										{% endif %}
										{% if not loop.last %}
											<hr>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>
						</div>

					</div>

				</div>

			</div>
			<div class='w-100 d-flex justify-content-end mt-3'>
				<button class='btn add-button' type="submit">Sauvegarder</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	{% endblock %}
