{% extends '/admin/entity_layout.html.twig' %}

{% block content %}
	{{ knp_pagination_rel_links(pagination) }}

	<div class='p-3 pe-5 w-100 position-relative border-top div-border-dark'>
		<table class='table table-striped table-dark rounded table-hover'>
			<tr>
				<th>{{ knp_pagination_sortable(pagination, '#', 'r.id') }}</th>
				<th {% if pagination.isSorted('r.name') %} class="sorted" {% endif %}>
					{{ knp_pagination_sortable(pagination, 'Nom', 'r.name') }}
				</th>
				<th>
					Actions
				</th>
			</tr>

			{% for rattachement in pagination %}
				<tr {% if loop.index is odd %} class="color" {% endif %}>
					<td>{{ rattachement.id }}</td>
					<td>{{ rattachement.name }}</td>
					<td>
						{% set menu_vars =
								{ 
									'hrefEdit': path('admin_app_form_edit_rattachement', {'rattachement' : rattachement.id}),
									'hrefDelete': path('admin_app_delete_rattachement', {'rattachement' : rattachement.id}),
									'entityId': rattachement.id,
									'entityName': entity_name
								} 
							%}
						{% include '/components/admin/menu/admin_dropdown_menu.html.twig' with menu_vars %}
					</td>
				</tr>
			{% endfor %}
		</table>

		<div class="navigation d-flex justify-content-end">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
