<div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar" style="width: 280px;min-height:100vh;">
	<a
		href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		{# <img class='logo' src="/images/sncf.png" alt="logo"/> #}
		<span class="fs-5 ms-3 mt-3">Commande ESTI</span>
	</a>
	<hr>

	{% if app.request.attributes.get('_route') starts with 'admin_' %}
		<div class='fs-5 p-3'>
			<b>Administration</b>
		</div>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Commandes" route_name=""
								   icon_class="bi-archive-fill "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Comptes bloqués" route_name=""
								   icon_class="bi-person-fill-slash "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Destinataires" route_name=""
								   icon_class="bi-geo-alt-fill "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Messages" route_name=""
								   icon_class="bi-chat-left-dots-fill "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Notifications" route_name=""
								   icon_class="bi-bell-fill "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Rattachements"
								   route_name="admin_app_collection_rattachements" icon_class="bi-diagram-3-fill "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Régions" route_name="admin_app_collection_regions"
								   icon_class="bi-diagram-2-fill "/>
			</li>

			<li>
				<twig:Link:NavLink isActiveLink="{{ true }}" text="Utilisateurs" route_name="admin_app_collection_users"
								   icon_class="bi-people-fill"/>
			</li>
		</ul>
	{% else %}
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="#" class="nav-link add-button" aria-current="page">
					<i class="bi bi-plus-circle button-icon"></i>
					Créer un PLC
				</a>
			</li>

			<li>
				<a href="#" class="nav-link text-white">
					<i class="bi bi-code-square button-icon"></i>
					PLC
				</a>
			</li>

			<li>
				<a href="#" class="nav-link text-white">
					<i class="bi bi-code-square button-icon"></i>
					Commandes
				</a>
			</li>

			<li>
				<a href="#" class="nav-link text-white">
					<i class="bi bi-code-square button-icon"></i>
					Commandes nat...
				</a>
			</li>
		</ul>
	{% endif %}

</div>
