{% extends 'base.html.twig' %}

{% block body %}

	{{ include('admin/region/_nav.html.twig') }}

	<div class='w-100 position-relative border-top div-border-dark'>
		{{ form_start(form) }}
		<div style='min-height:74vh;' class='div-border-dark p-3 w-50 border-end'>
			<div class="tab-content scroll-container" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
					<div class="row">
						<div class="col">
							{{ form_row(form.name) }}
						</div>
					</div>
					{{ form_row(form.rattachements) }}
					{% for index, rattachement in form.rattachements %}
						<div class="rattachement-item">
							{{ rattachement }}
							{{ form_row(rattachement) }}
						</div>
					{% endfor %}

					<div style="display:none;">
					</div>
				</div>
			</div>
			<div class='w-100 d-flex justify-content-end mt-3'>
				<button class='btn add-button' type="submit">Sauvegarder</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
