{% extends 'base.html.twig' %}

{% block body %}

    <div class='p-3 pe-5 d-flex justify-content-between align-items-start'>
        <twig:ReturnToList
            list_route_name="{{ returnButton.list_route_name }}"
            css="{{ returnButton.css }}"
        />
        <twig:AddButton
                icon_class="{{ addButton.icon_class }}"
                route_name="{{ addButton.route_name }}"
                text="{{ addButton.text }}"
                permission="{{ addButton.permission }}"
        />
    </div>

    <h4 class='ps-3 mb-3'>{{ title }}</h4>

    {% block content %}{% endblock %}
{% endblock %}
