<div class="dropdown">
	<a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser{{entityId}}" data-bs-toggle="dropdown" aria-expanded="true">
		<i class="bi bi-three-dots"></i>
	</a>
	<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser{{entityId}}" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -34px);" data-popper-placement="top-start">
		{% if has_permission(permission_enum(entityName ~ '_EDIT')) %}
			<li>
				<a class="dropdown-item" href="{{hrefEdit}}">
					<i class="bi bi-pencil-square button-icon"></i>
					Modifier
				</a>
			</li>
		{% endif %}

		{% if has_permission(permission_enum(entityName ~ '_DELETE')) %}
			<li>
				<a class="dropdown-item text-danger" data-controller="delete" data-delete-url-value="{{ hrefDelete }}" data-delete-csrf-value="{{ csrf_token('delete' ~ entityId) }}" data-action="click->delete#confirm">
					<i class="bi bi-trash3-fill button-icon"></i>
					Supprimer
				</a>
			</li>
		{% endif %}
	</ul>
</div>
